extends layout

append top-section
  div(id="search-div")
    input(id="search-input" type="text" placeholder="Enter your username")
    button(type="submit" class="btn" id="search-btn" onclick="onSearch()") Search
    div(id="err-output")
      | &nbsp;
  div(id="refresh-div")
    button(type="submit" class="btn" id="refresh-btn" onclick="fetch()") Populate


block content
  div(id="viewport" style="width: 100%; height: 100%; background: #262626")

append scripts
  script.
    window.nodeID = "#{nodeID}"
  script(src='/js/graphFuncs.js')
  script(src='/js/index.js')