extends layout

block content
  h1= title

  div(id="chart" style="width: 100%; height: 100%; background: #262626;")
  // div(id='word-cloud' style="width: 100%; background: #262626;")

append scripts
  script.
    window.nodeID = "#{nodeID}"
  script(src='/js/user.js')

