extends layout

block content
  h1= title
  div(id='content' style="display: flex;")
    div(id='mini-network', style="flex: 0%;")
    div(id='less-important-info', style="flex: 100%;")
      div(id='word-cloud' )
      div(id='chart-container')
        canvas(id="chart", style="position: relative;" )

append scripts
  script.
    window.nodeID = "#{nodeID}"
  script(src='/js/user.js')

