extends layout

block content
  h1= title
  div(id='content' style="display: flex;")
    div(id='word-cloud' )
    canvas(id="chart" )

append scripts
  script.
    window.nodeID = "#{nodeID}"
  script(src='/js/user.js')

