body {
  padding: 25px;
  padding-top: 20px;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#title, #title > a {
  padding-top: 0;
  margin-top: 0;
  text-align: center;
  color: black;
  size: large;
}

a {
  color: #00B7FF;
}
